@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Setting every margin and padding to 0 at the beginning of the project */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.main-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 900px;
}

/* Header stiling */

.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px 50px;
    height: 70px;
}

.header a {
    text-decoration: none;
}

#item-logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    padding: 0 10px;
    border: 2px solid lightgoldenrodyellow;
    border-radius: 10px 30px;
}

#item-nav {
    display: flex;
    align-items: stretch;
    column-gap: 10px;
}

#item-nav a {
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #E5E7EB;
}

#item-nav a:hover {
    background-color: #344257;
}

#item-nav li {
    list-style-type: none;
    font-size: 18px;
}

.header, 
.hero-section {
    background-color: #1F2937;
}

/* Hero section */


.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 10px;
    padding: 40px 50px;
    flex-wrap: wrap;
}

.left-side {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 10px;
}

.hero-section .image img {
    width: 350px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.button {
    font-size: 18px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 30px;
    margin-bottom: 10px;
    font-weight: 900;
    border-radius: 10px;
}

/* Inromation section */

.information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 50px;
}

.heading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 0 50px 40px 50px;
}

.instructions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
}

.instruction-field {
    width: 150px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    font-size: 18px;
    padding-bottom: 40px;
}

.instructions img {
    width: 140px;
    height: 140px;
    border-radius: 25px;
    border: 2px solid #1F2937;
}

/* Quote section */

.quote-section {
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    row-gap: 5px;
}

.big-quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.author {
    align-self: flex-end;
    font-weight: 900;
    font-size: 24px;
}